* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Horní část */
.top {
    background: #ff9f9f;
    flex: 1;
    text-align: center;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: orange;
}

h1 {
    color: #ff4d4d;
    margin-top: 40px;
    font-size: 36px;
}

.subtitle {
    color: #ff5f5f;
    font-size: 20px;
}

.coins {
    color: #ffd966;
    font-size: 22px;
    margin-top: 20px;
}

/* Spodní část */
.bottom {
    background: #7ed957;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-btn {
    font-size: 28px;
    padding: 30px 80px;
    border: 3px solid #00a86b;
    background: transparent;
    color: #00a86b;
    margin-bottom: 30px;
    cursor: pointer;
}

.secondary {
    display: flex;
    gap: 20px;
}

.secondary button {
    font-size: 18px;
    padding: 20px 40px;
    border: 3px solid #00a86b;
    background: transparent;
    color: #00a86b;
    cursor: pointer;
}